services:
    postgres:
        image: postgres:18.2-alpine
        container_name: postgres
        env_file:
            - config/.postgres.env
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - app-network
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-postgres}"]
            interval: 10s
            timeout: 5s
            retries: 5

    api:
        image: ghcr.io/realhesam/honarino-test/backend:latest
        container_name: server
        env_file:
            - config/.api.env
        depends_on:
            postgres:
                condition: service_healthy
        working_dir: /app
        expose:
            - "8000"
        networks:
            - app-network
        restart: on-failure

    frontend:
        image: ghcr.io/realhesam/honarino-test/frontend:latest
        container_name: frontend
        env_file:
            - config/.frontend.env
        expose:
            - "3000"
        networks:
            - app-network
        depends_on:
            - api

    nginx:
        build:
            context: nginx
            dockerfile: Dockerfile
        container_name: nginx
        ports:
            - "${NGINX_PORT:-80}:80"
        depends_on:
            - api
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf:Z
        networks:
            - app-network
        healthcheck:
            test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost/nginx-health"]
            interval: 10s
            timeout: 5s
            retries: 3
    minio:
        image: minio/minio:latest
        container_name: minio
        restart: unless-stopped
        env_file:
            - config/.minio.env
        command: server /data --console-address ":9001"
        volumes:
            - minio_data:/data
        networks:
            - app-network
        expose:
            - "9000"
            - "9001"
        ports:
            - 9001:9001
            - 9000:9000
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
            interval: 30s
            timeout: 20s
            retries: 3

    minio-init:
        image: minio/mc:latest
        depends_on:
            - minio
        entrypoint: >
            /bin/sh -c "
            sleep 5;
            mc alias set local http://minio:9000 minioadmin VeryStrongPassword123;
            mc mb local/uploads;
            mc anonymous set public local/uploads;
            exit 0;
            "
        networks:
            - app-network

networks:
    app-network:
        driver: bridge

volumes:
    postgres_data:
    minio_data:
