apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
    name: honarino-ingress
    namespace: honarino
spec:
    rules:
        - host:
          http:
              paths:
                  - path: /
                    pathType: Prefix
                    backend:
                        service:
                            name: frontend
                            port:
                                number: 3000
                  - path: /api/
                    pathType: Prefix
                    backend:
                        service:
                            name: api
                            port:
                                number: 8000
