apiVersion: apps/v1
kind: Deployment
metadata:
    name: frontend
    namespace: honarino
spec:
    replicas: 1
    selector:
        matchLabels:
            app: frontend
    template:
        metadata:
            labels:
                app: frontend
        spec:
            containers:
                - name: frontend
                  image: ghcr.io/realhesam/honarino-test/frontend:6ff2524
                  ports:
                      - containerPort: 3000
