apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: minio-pvc
    namespace: honarino
spec:
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: 5Gi
