apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
    name: argocd-server-http
spec:
    rules:
        - host:
          http:
              paths:
                  - path: /argocd
                    pathType: Prefix
                    backend:
                        service:
                            name: argocd-server
                            port:
                                name: http
